
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h3>MVC Camp Table - Category</h3>
    </div>
    <br />
    <div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Güncelle</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Eğitim</td>
                <td>Açıklama yaptık.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tiyatro</td>
                <td>Açıklama yaptık.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Kitap</td>
                <td>Açıklama yaptık.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Spor</td>
                <td>Açıklama bekleniyor.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Film</td>
                <td>Açıklama bekleniyor.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Dizi</td>
                <td>Açıklama bekleniyor.</td>
                <td>True</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
        </table>
    </div>
    <div>
        <button class="btn btn-info">Yeni Kategori</button>
        <button class="btn btn-danger">Kategori Listesi</button>
        <button class="btn btn-warning">Kategori Açıklamaları</button>
    </div>
</body>
</html>
